@import "./variables";

.App {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/wp.jpeg");
  background-size: cover;

  .header {
    display: flex;
    justify-content: space-between;
    color: black;
    height: 24px;
    background-color: rgba(185, 225, 252, 0.6);
    z-index: 4;

    .items__left, .items__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.1em;
    }

    .items__left {
      p {
        font-size: .85em;
        cursor: default;
        user-select: none;
      }

      .apple {
        margin-left: 21px;
        font-size: 1.3em;
        svg {
          width: 17px;
          height: 17px;
        }
      }
    }

    .items__right {
      .siri {
        img {
          width: 18px;
          height: 18px;
        }
      }

      .svg-icon {
        svg {
          width: 16px;
          height: 16px;
        }
      }

      .bluetooth {
        svg {
          width: 9px;
          height: 13px;
        }
      }

      .spotlight {
        svg {
          width: 13px;
          height: 13px;
        }
      }

      .date {
        margin: auto 0;

        p {
          width: 165px;
          font-size: .9em;
          user-select: none;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 24px);
    z-index: 2;

    .desktop {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, 80px);
      grid-template-rows: repeat(auto-fill, 100px);
      grid-gap: 40px;
      margin-top: 5px;

      button {
        width: 70px;
        height: 70px;
        color: $text;
        font-size: .9em;
        margin: 0 auto;

        img {
          width: 70px;
          height: 70px;
        }

        &:focus {
          background: rgba(0, 0, 0, 0.1);
          border: 2px solid rgba(182, 182, 182, 0.6);
          border-radius: 3px;

          &>div  {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              background: $selection;
              border-radius: 3px;
              padding: 0 2px;
            }
          }
        }
      }
      
    }

    .dock {
      display: flex;
      align-self: flex-end;
      height: 55px;
      border: 1px solid $dock-border;
      border-radius: 12px;
      margin: 0 auto 5px;
      background: $dock-background;
      z-index: 999;

      .children {
        display: flex;
        margin: auto;
        height: 44px;

        .icon {
          display: block;
          width: 44px;
          height: 44px;
          //margin: 0 1px;

          &:active {
            filter: brightness(50%);
          }

          &:hover {
            transform: scale(1.3);
            position: relative;
            bottom: 15px;
            transition: ease-in-out .2s;
          }
        }

        .trashbin {
          width: 36px;
        }
      }
    }
  }
}

.finder {
  width: 800px;
  height: 600px;
  padding: 0;
  display: flex;
  border-radius: 10px;
  border: 1px solid $window-border;

  .sidebar__finder {
    min-width: 190px;
    height: 100%;
    background: $window-sidebar;
    border-radius: 9px 0 0 9px;
    z-index: 2;

    .items {
      padding-left: 18px;
    }
  }

  .content__finder {
    background: $window-background;
    width: 610px;
    border-radius: 0 9px 9px 0;

    .header__finder {
      display: block;
      width: 100%;
      height: 54px;
      background: $window-header;
      z-index: 1;
      border-radius: 0 9px 0 0;
      border-bottom: 1px solid $window-header-border;
    }
  }
}

.snake {
  width: 602px;
  height: 656px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid $window-border;

  .header__snake {
    display: block;
    position: relative;
    width: 100%;
    height: 54px;
    background: $window-header;
    z-index: 1;
    border-radius: 9px 9px 0 0;
    border-bottom: 1px solid $window-header-border;
  }

  .content__snake {
    background: $window-background;
    width: 100%;
    height: 100%;
    border-radius: 0 0 9px 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      button {
        border: none;
        background-color: #3c3c3c;
        color: white;
        padding: 9px 30px;
        cursor: pointer;
        border-radius: 9px;
      }

      button:hover {
        background-color: #6d6c6c;
        transition: 0.5s all;
      }
    }

    .game-area {
      border: 1px solid black;
      position: relative;
      width: 100%;
      height: 100%;
      background: #4e9a00;
      border-radius: 0 0 9px 9px;

      .snake-dot {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #00d0ff;
        border: 1px solid #ffffff;
        z-index: 2;
        border-radius: 9px;

        &:last-child {
          background-color: #04289d;
        }
      }

      .snake-food {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: red;
        border: 1px solid #ffffff;
        z-index: 1;
        border-radius: 9px;
      }

      .game-over {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 9;

        &:before {
          content: 'GAME OVER';
          position: absolute;
          width: 100%;
          height: 100%;
          color: #fff;
          font-size: 75px;
          display: flex;
          align-items: center;
          justify-content: center;
          animation-name: example;
          animation-duration: 1.5s;
          opacity: 0;
        }
      }
    }
  }
}

.mail {
  width: 800px;
  height: 600px;
  padding: 0;
  display: flex;
  border-radius: 10px;
  border: 1px solid $window-border;

  .sidebar__mail {
    min-width: 190px;
    height: 100%;
    background: $window-sidebar;
    border-radius: 9px 0 0 9px;
    z-index: 2;

    .items {
      padding-left: 18px;
    }
  }

  .content__mail {
    background: $window-background;
    width: 610px;
    border-radius: 0 9px 9px 0;

    .header__mail {
      display: block;
      width: 100%;
      height: 54px;
      background: $window-header;
      z-index: 1;
      border-radius: 0 9px 0 0;
      border-bottom: 1px solid $window-header-border;

      svg {
        height: 17px;
        width: 17px;

        path {
          fill: $button;
        }
      }
    }
  }

}

.mini__mail {
    z-index: 99;
    height: 420px;
    width: 420px;
    display: flex;
    flex-direction: column;
    background: $window-background;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border: 1px solid $window-border;
    border-radius: 10px;

    .header__mini__mail {
      position: relative;
      height: 53px;
      width: 100%;
      background: $mini-window-header;
      border-bottom: 1px solid $window-header-border;
      border-radius: 10px 10px 0 0;

      .send {
        position: absolute;
        top: 13px;
        left: 92px;
        width: 45px;
        height: 27px;
        padding: 5px 13px;
        border-radius: 7px;

        &:hover {
          background: $button-hover;
        }

        &:active {
          background: $button-clicked;
        }

        transition: background-color 0.1s;

        svg {
          height: 17px;
          width: 17px;
          path {
            fill: $button;
          }
        }
      }
    }

    .content__mini__mail {
      display: flex;
      flex-direction: column;
      height: 367px;
      margin-top: 8px;
      margin-left: 26px;
      font-size: .85em;

      .form {
        height: 170px;

        div {
          position: relative;
          height: 34px;

          label {
            width: 15%;
            color: $button;
            position: absolute;
          }

          input {
            border-bottom: 1px solid $border-input;
            width: 100%;
            padding-left: 15%;

            &:focus {
              outline: none;
            }
          }

          &#for {
            label {
              width: 20px;
            }

            input {
              padding-left: 20px;
            }
          }
          &#cc {
            label {
              width: 31px;
            }

            input {
              padding-left: 31px;
            }
          }
          &#object {
            label {
              width: 48px;
            }

            input {
              padding-left: 48px;
            }
          }
          &#from {
            label {
              width: 32px;
            }

            input {
              padding-left: 32px;
            }
          }
        }
      }

      textarea {
        height: 100%;
        resize: none;
        overflow-y: scroll;
        border-radius: 0 0 9px 0;

        &::-webkit-scrollbar {
          width: 14px;
          background: rgb(251, 251, 251);
          border: 1px solid rgb(231, 231, 231);
          border-radius: 0 0 9px 0;
        }

        &::-webkit-scrollbar-thumb {
          background: #babac0;
          border: 3px solid transparent;
          border-radius: 16px;
          background-clip: content-box;
        }

        &::-webkit-scrollbar-track {
          border-radius: 9px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color:#a0a0a5;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

.buttons {
  display: flex;
  height: 54px;
  width: 100%;
  float: left;
  line-height: 0;
  padding-top: 21px;
  padding-left: 21px;

  .close, .minimize, .zoom {
    font-size: 9pt;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;

    button {
      visibility: hidden;
      cursor: default;
    }
  }

  .close {
    background: #ff5c5c;
    border: 1px solid #e33e41;

    &:active {
      background: #c14645;
      border: 1px solid #b03537;

      button {
        color: #4e0002;
      }
    }

    button {
      color: #820005;
    }
  }

  .minimize {
    background: #ffbd4c;
    line-height: 11px;
    margin-left: 7px;
    border: 1px solid #e09e3e;

    &:active {
      background: #c08e38;
      border: 1px solid #af7c33;

      button {
        color: #5a2607;
      }
    }

    button {
      color: #9a5518;
    }
  }

  .zoom {
    background: #00ca56;
    line-height: 11px;
    margin-left: 7px;
    border: 1px solid #14ae46;

    &:active {
      background: #029740;
      border: 1px solid #128435;

      button {
        color: #003107;
      }
    }

    button {
      color: #006519;
    }
  }
}

@keyframes example {
  0% {
    opacity: 0;
    font-size: 10px;
  }

  95% {
    opacity: 1;
    font-size: 75px;
  }
  100% {
    opacity: 0;
  }
}
