$dock-border: rgba(196, 200, 208, 0.2);
$dock-background: rgba(87, 108, 133, 0.9);

$window-sidebar: rgba(222, 224, 226, 0.98);
$window-background: rgb(255, 255, 255);
$window-header: rgb(242, 243, 245);
$window-header-border: rgb(217, 217, 217);
$window-border: rgb(203, 203, 203);

$mini-window-header: rgb(244, 244, 244);
$button: rgb(104, 104, 104);
$button-hover: rgb(232, 231, 231);
$button-clicked: rgb(215, 217, 219);
$border-input: rgb(230, 230, 230);

$selection: rgb(0, 99, 225);
$text: rgb(255, 255, 255);
